* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color:black;
    margin-left: 10px;
}

body {
    background-color: #f7eedc;
}

.header {
    width: 100%;
    height: 164px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #ffb691;
    padding: 10px 20px;
}

.header img {
    position: absolute;
    left: 4%;
    width: 200px; 
    height: 100%;
}

.highlight {
    color: black;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    text-align: center;
}

.navbar {
    width:100%;
    background-color: antiquewhite;
    text-align: center;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 300xpx;    
    height: 68px;  
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #BCBCBC;
    border-radius: 6px;
}
