* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color:black;
    margin-left: 10px;
}

body {
    background-color: #f7eedc;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    width: 100%;
    height: 164px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #ffb691;
    padding: 10px 20px;
}

.header img {
    position: absolute;
    left: 4%;
    width: 200px; 
    height: 100%;
}

.highlight {
    color: black;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    text-align: center;
}

.navbar {
    width:100%;
    padding: 5px;
    background-color: #ffffff;
    text-align: center;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar img {
    position: relative;
    left: 10%;
    width: 20px;
    height: 20px;
}

.search-bar input {
    width: 300px;    
    height: 68px;  
    padding: 5px 40px;
    padding-right: 10px;
    font-size: 16px;
    border: 3px solid #BCBCBC;
    border-radius: 6px;
}

.header .i1 {
    position: fixed;
    left: 89%;
    gap: 200px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.header .i2 {
    position: fixed;
    left: 95%;
    gap: 200px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}